<div class="container">


<h1>Редактирование альбома</h1>

<% form_for(["admin", @client], :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title, "Название" %><br />
    <%= f.text_field :title %>
  </p>
  <p>
	<%= f.label :image, "Картиночка" %>
	<%= f.file_field :image %>
  </p>
  <p>
	<%= f.label :image, "Картиночка серенькая" %>
	<%= f.file_field :grey_image %>
  </p>
<% if @client.image %>
<%= image_tag @client.image.url %>
<% end %>

<% if @client.grey_image %>
<%= image_tag @client.grey_image.url %>
<% end %>
		<div class="clear"></div>
		


  <p>
    <%= f.submit 'Сохранить' %>
  </p>
<% end %>

<%= link_to 'Просмотр', ["admin", @client] %> |
<%= link_to 'Назад', admin_clients_path %>
</div>