<div class="container">
<h1>Клиенты</h1>

<table>
  <tr>
    <th>Название</th>
  </tr>
<ul id="clients">
<% @clients.each do |client| %>
<% content_tag_for("li", client) do %>

    <%=h client.title %>
    <%= link_to 'Просмотр', admin_client_path(client) %>
    <%= link_to 'Редактировать', edit_admin_client_path(client) %>
    <%= link_to 'Уничтожить', admin_client_path(client), :confirm => 'Вы уверены?', :method => :delete %>

<% end %>

<% end %>
</ul>
</table>

<br />
<%= sortable_element("clients", :url => { :action => "sort" }	) %>
<%= link_to 'Новый клиент', new_admin_client_path %>
</div>
