<div class="container">
<h1>Создать новичка</h1>

<% form_for(["admin", @client], :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title, "Название" %><br />
    <%= f.text_field :title %>
  </p>
  <p>
	<%= f.label :image, "Картиночка" %>
	<%= f.file_field :image %>
  </p>
  <p>
	<%= f.label :image, "Картиночка серенькая" %>
	<%= f.file_field :grey_image %>
  </p>
  <p>
    <%= f.submit 'Создать' %>
  </p>
<% end %>

<%= link_to 'Назад', admin_clients_path %>
</div>